<h1>餐廳後台</h1>
<div>
  <a href="/admin/restaurants" class="btn btn-link pl-0 pr-2">Restaurants</a>|
  <a href="/admin/categories" class="btn btn-link pl-1">Categories</a>|
  <a href="/admin/users" class="btn btn-link pl-1">Users</a>
</div>
<br />
<br />

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>
      <td>{{this.email}}</td>
      <td>{{#if isAdmin}}admin{{else}}user{{/if}}</td>
      <td>
        <form action="/admin/users/{{this.id}}/toggleAdmin?_method=PUT" method="POST">
        <button type="submit" class="btn btn-link" onclick="return confirm('確定要變更權限嗎？')">{{#if isAdmin}}set as user{{else}}set as admin{{/if}}</button>        
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>