<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="/restaurants">首頁</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/restaurants/feeds">最新動態</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/users/top">美食達人</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/restaurants/top">Top10 人氣餐廳</a>
  </li>
</ul>
<br /><br />
<h1>人氣餐廳</h1>
<hr />
{{#each restaurants}}
<div class="card" style="width: 700px; margin: 0 auto;">
  <div class="card-body d-flex">
    <img src="{{this.image}}" alt="Card image cap" width="40%" height="180px">
    <div class="ml-3">
      <h5 class="card-title">{{this.name}}</h5>
      <span class="badge badge-secondary">收藏數：{{this.FavoriteCount}}</span>
      <p class="card-text">{{this.description}}</p>      
      <div class="d-flex">
        <a href="/restaurants/{{this.id}}" class="btn btn-primary mr-2">Show</a>
        {{#if this.isFavorited }}
        <form action="/favorite/{{this.id}}?_method=DELETE" method="POST"><button type="submit"
            class="btn btn-danger">移除最愛</button></form>
        {{else}}
        <form action="/favorite/{{this.id}}" method="POST"><button type="submit" class="btn btn-primary">加到最愛</button></form>
        {{/if}}
      </div>
      
    </div>    
  </div>
</div>
{{/each}}